.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .title {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .statsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
  }
  
  .statItem {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border-radius: 8px;
    color: black;
    border: solid 2px;
    border-color: #333;
    padding: 20px;
    font-size: x-large;
  }